body{
  margin: 2% ;
}

#firstsec{
    background-image: url(./bd.jpg);
    color: rgb(243, 234, 234);
    
  


}
.padd{
     margin: 40px; 
    border: solid rgb(245, 241, 241) 2px;
    border-right: none;
}
.fuck{
    padding: 10px;
    margin-right: 30%;
    padding-bottom: 40px;
}
.man{
    margin-left: 85%;
    display: flex;
    width: 50px;
    height: 65px;
    padding-top: 2%;
}
.id{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 9%;
}
.hr{
    width: 100%;
    height: 50%;
}
.review{
  list-style: none;
  display: flex;
  justify-content: space-between;
margin-right: 70%;
margin-left: 8%;
padding-top: 10%;
position: relative;
right: 40px;
}
.h1{
    text-align: center;
    font-size: 90pt;
}
.date{
margin-left: 60%;
position: relative;
bottom: 60px;
}
.computer{
    margin-left: 60%;
    position: relative;
bottom: 60px;
    
}


#section2{
    background-color: red;
    padding: 2%; 
    color: rgb(248, 231, 231);
    position: relative;
    bottom: 50px;

}
.hadding{
    margin-left: 60px;
    font-size: 30px;
}
.pic{

 display: flex;
 margin-left: 51px;
 

}
.pic p{

    margin-left: 20px;
}
.pic2{
    width: 250px;
    margin: 20px;
    
   

}
.pic3{
    width: 200px;
    height: 168px;
    margin: 20px;
    
    
}



#section3{
    background-color: rgb(41, 39, 39);
    padding: 5%;
    color: rgb(245, 236, 236);
}
.blog{
    color: red;
}
.loremdv{
    display: flex;
    margin-left: 5%;
}
.lorem1{
    margin-left: 3%;
    
}
.lorem2{
    margin-left: 3%;
    
}
.lorem h1{
    font-size: 40px;
    
}


#section4{
    background-color: rgb(104, 99, 99);
    padding:5% 0%;
}
.section4dv{
    display: flex;
    padding: 4%;
}
.dv1{
    margin-left: 4%;
}
.dv2{
    margin-left: 2%;
}
.dv3{
    margin-left: 2%;
}
.dv4{
    margin-left: 2%;
}
.btn{
    background-color: red;
    margin-left: 85%;
    padding: 3% 4%;
}
.b4{
    background-color: brown;
}

#section5{
background-image: url(./105679475_162508985432010_601555558168172430_n.jpg);
color: rgb(248, 241, 241);
background-size: cover;
 padding: 20px; 
}
.last{
    position: relative;
   margin-right: 180px;
}
.h1{
    text-align: center;
    font-size: 90pt;
}
.date{
margin-left: 54%;
position: relative;
bottom: 60px;
}
.areyou{
    margin-left: 54%;
    padding-bottom: 5%;
    position: relative;
    bottom: 60px;
}


#section6{
    background-color: black;
    padding: 3%;
    color: rgb(245, 236, 236);
}

   .end1{
    display: flex;
    padding: 20px 200px;
    
}
.end1 p{
    margin-right: 50px;
    position: relative;
    right: 80px;
}
.dv1{
    border-radius: 50%;
}
.dv2{
    border-radius: 50%;
}
.icon{
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    
   
}
.icon i{
    margin: 10px;
    font-size: 40px;
}
.email{
    margin-top: 10%;
    margin-left: 50px;
    
}
.type{
    padding: 4% 15%;
    width: 200px;
}
.man i{
    font-size: 20px;
    margin-top: 20px;
    margin-right: 50px;
}

.aa{
    font-size: 18px;
    position: relative;
    bottom: 18px;
}

@media (max-width:500px) {

    .pic{

      flex-direction: column;
      
        
        
       
       }

       .review{
        list-style: none;
        display: flex;
        
     margin: 0.1px;
     position: relative;
     left: 17px;

      
    
     
      }


      .man{
        margin-left: 55%;
        display: flex;
        width: 50px;
        height: 65px;
        padding-top: 2%;
     }

     .h1{
        text-align: center;
        font-size: 50pt;
    }

    .date{
         margin-left: 61%; 
         margin-top: 80px;
         font-size: 10px;
     
        
        }

        .computer{
           
     width: 200px;
        font-size: 10px;
            
        }


        .pic2{
            width: 460px;
            height: 178px;
          position: relative;
          right: 78px;
            
           
        
        }
        .pic3{
            width: 460px;
            height: 178px;
      
             position: relative;
             right: 78px;
            
            
        }
        
        .aa{
            font-size: 14px;
            position: relative;
            right: 70px;
        }

        .section4dv{
            display: flex;
          
            flex-direction: column;
            font-size: 10px;
           
        }

        .width{
            width: 460px;
            height: 178px;
      
             position: relative;
             right: 34px;  
        }


       .width1{
        width: 462px;
        height: 178px;
  
         position: relative;
         right: 26px;


        }
        .b4{
            background-color: brown;
            width: 462px;
            position: relative;
            right: 18px;
   
   
           
        }

        .areyou{
            margin-left: 54%;
            padding-bottom: 5%;
            position: relative;
            bottom: 60px;
            width: 200px;
            font-size: 10px;
        }
.end1{
    position: relative;
    right: 50px;
}

.icon i{
    margin: 10px;
    font-size: 10px;
    position: relative;
    right: 120px;
    top: 18px;
}
      .email {
        position: relative;
        right: 160px;
     

       
      }
      .email input{
          width: 60px;
          font-size: 8px;
         
      }
      .bb{
          font-size: 8px;
          width: 150px;
        position: relative;
        top: 10px;
       
      }

      #section3{
        font-size: 10px;
        padding: 5%;
        color: rgb(243, 229, 229);
       
    }
    .lorem h1{
        font-size: 20px;
        
    }
    
    

    



    
}